<!DOCTYPE html>
<html lang="en">

<head>
  {% include "_includes/config/meta.twig" %}
  {% block styles %}
    {% include "_includes/config/styles.twig" %}
  {% endblock styles %}
  <title>
    {% if entry is defined %} {{ entry.title }} {% else %} {{ siteName }} {% endif %}
  </title>
</head>

<body>
  {% block body %} {% endblock body %}
  {% block footer %}
    {% include "_includes/components/footer.twig" %}
  {% endblock footer %}
  {% block scripts %}
    {% include "_includes/config/scripts.twig" %}
  {% endblock scripts %}
</body>

</html>