{% extends "_layouts/base.twig" %}

{% block body %}
  {% block header %}
    {% include "_includes/components/header.twig" %}
  {% endblock header %}
  <main>
    {% block content %}
      
    {% endblock content %}
  </main>
{% endblock body %}